@import '/assets/css/pages/index/partials/header.css';
@import '/assets/css/pages/index/partials/search.css';
@import '/assets/css/pages/index/partials/footer.css';
@import '/assets/css/pages/index/partials/history.css';

@import "/assets/css/global/global.css";