

.social-nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
}

footer img {
    width: 50px;
    height: 50px;
}

footer img:hover{
    width: 44px;
    height: 44px;
}