header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header, ul, li, a {
    text-decoration: none;
    font-size: var(--font-size-md);
    color: var(--color-secondary);
    
}

ul li:not(:last-child) {
     padding-right: 20px;
}

header, ul, li {
    list-style: none;
   
}

h1 {
    margin: 4vh 0 3vh 0;
    font-size: var(--font-size-display);
    color: var(--color-secondary);
}

ul {
    padding: 0;
    display: flex;
}