.history {
    border-radius: 10px 10px 10px 10px;
    max-width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

.img-bg {
    width: 30vw;
    transform: scaleX(-1);
}


.content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: var(--color-text-alt);
}

.content p {
    font-size: var(--font-size-md);
    padding: 1vw;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.img-bg > img{
    margin: auto;
    transform: scaleX(-1);
    width: 20vw;
    
}

.img-bg{
    height: min-content;
    width: 100%;
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

.content > button {
    padding: 1vw 2vw;
    font-size: var(--font-size-md);
    color: var(--color-text-alt);
    background-color: var(--color-accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   

@media (max-width: 768px) {
    .history {
        max-width: 90%;
    }

    .img-bg {
        width: 80vw;
    }

    .img-bg > img{
        width: 60vw;
    }
    footer > p {
        font-size: var(--font-size-xs);
    }
}
